---

master: monitoring.example.com

checks:

  - name: check_disk
    command: /usr/lib/nagios/plugins/check_disk -w 1 -c 2

  - name: check_load
    command: /usr/lib64/nagios/plugins/check_load -w 1 -c 2
