<html>
<body>

  <div class="link-area">hello</div>
  <div id="model-area"></div>

  <script id="some-template" type="text/html">
    <li>
      <%
        _.each(items, function (item) {
          console.log(JSON.stringify(item));
      %>
        <%= item.new_key %>:
        <input data-key="<%= item.new_key %>" value="<%= item.new_val %>"/>
      <% }); %>
    </li>
  </script>


  <script type="text/html" id="template-key-value">
    <span class="js-key"><%- key %></span>:
    <span class="js-value"><%- value %></span>
  </script>


  <script type="text/html" id="template-myItemView">
    <lable><%- a %></label>
    <p><%- attributes %></p>
    <button class="destroy"></button>
  </script>
  
  <script src="libs/jquery.js"></script>
  <script src="libs/underscore.js"></script>
  <script src="libs/backbone.js"></script>
  <script src="libs/backbone.marionette.js"></script>
  <script src="main-3.js"></script>
</body>
</html>
